**/node_modules/
**/dist/

.env
client/.env.local
client/.env.development
client/.env.production
server/.env
server/.env.prod
server/.env.dev
server/.env.local

client/.next/

.DS_Store
Thumbs.db

.vscode/

server/shared-local-instance.db
server/dynamodb-local-metadata.json
server/deployment
shared-local-instance.db